<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Musica</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="music">
    <header class="header_horizontal header_music">
        <nav class="menu">
            <ul>
                <li><a href="/">| HOME |</a></li>
                <li><a href="/about">ABOUT |</a></li>
                <li><a href="/music">MUSIC |</a></li>
                <li><a href="/contact">CONTACT |</a></li>
            </ul>
        </nav>
        <Nav>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
        </Nav>
    </header>
    <main>
        <h1>music //</h1>
        <nav>
            <h5>Direct Links</h5>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>    
        </nav>
        <section>
            <article id="album">
                <h4>album<br>twist in my reality</h4>
                <img src="/img/emilia-play-list.png" alt="emilia-play-list" width="640" height="360">
                <ol>
                    
                    <li><i class="fas fa-play"></i> Organic love | 02:40</li>
                    <li><i class="fas fa-play"></i> Twist In My Reality | 2:10</li>
                    <li><i class="fas fa-play"></i> Steet Light | 03:28</li>
                    <li><i class="fas fa-play"></i> Love Don't Live HereAnymore (Cover) | 03:49</li>
                </ol>
                <a href="#">Go top</a>
            </article>
            <article id="organic">
                <h4>video<br>organic love</h4>
                <iframe src="https://player.vimeo.com/video/135166028" frameborder="0" width="640" height="360"
                allow="aotoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go Top</a>
            </article>
            <article id="street">
                <h4>video<br>street light</h4>
                <iframe src="https://player.vimeo.com/video/134861419" frameborder="0" width="640" height="360"
                allow="aotoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go Top</a>
            </article>
        </section>
    </main>
</body>
</html>